{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Posts
{% endblock %}

{% block body %}
	{{parent()}}
	<div class="container container-background">
		<div class="col-12">
			<br>
			{{ form_start(form) }}
			<div class="d-flex justify-content-center flex-direction m-3">
				<h5>{{form_label(form.titulo, "Title of the article")}}</h5>
			</div>
			{{form_widget(form.titulo, {'attr':{'class':'form-control text-center'}
            })}}
			<div class="d-flex justify-content-center flex-direction" style="padding-top:2%;">
				<h6>{{form_label(form.contenido, 'Now you can write an article and post it
            into
            the website')}}</h6>
			</div>
			{{form_widget(form.contenido, {'attr':{'class':'form-control',
            'rows':'18'}})}}
			{% if form_errors(form.foto) %}
				<div class="alert alert-danger my-3">
					{{form_errors(form.foto)}}
				</div>
			{% endif %}
			<div class="input-group mb-3 my-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Upload</span>
				</div>
				<div class="custom-file">
					{{form_widget(form.foto,
                {'attr': {'class': 'custom-file-input', 'type': 'file','id':'inputFile'}})}}
					{{form_label(form.foto, 'load a picture in PNG or JPG',{'label_attr': {'class':'custom-file-label', 'for': 'inputFile'}})}}
				</div>
			</div>

			{{form_row(form.guardar, {'attr':{'class': 'btn btn-primary btn-block'}})}}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascript %}
	{{parent()}}
	<script>
		$('.custom-file-input').on('change', function () {
var fileName = $(this).val().split("\\").pop();
$(this).siblings(".custom-file-label").addClass("selected").html(fileName)
})
	</script>
{% endblock %}
