{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Dashboard{% endblock %}

{% block body %}
{{parent()}} <br><br>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for article in pagination %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">{{ article.titulo }}</div>
                        <div class="col-6 text-right">Date:
                            {{article.fecha_publicacion | date('d/m/Y: H:i:s') }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>@Author: {{ article.name }}</p>
                        <div class="col-3">
                            <a href="{{path('verPost',{id:article.id})}}"
                                class="btn btn-outline-secondary btn-block">Go to post</a>
                        </div>
                    </blockquote>
                </div>
            </div>
            <br><br>
            {% if true ==false %}
            {{ article.foto }}
            {% endif %}
            {% endfor %}
            {# display navigation #}
        </div>
    </div>
</div>
<div class="pagination justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
